.social-icons {
  position: fixed;
  top: 20rem;
  right: 1rem;
  display: flex;
  flex-direction: column;

  &-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    &-item {
      font-size: var(--tlarge2);
      transition: 0.3s ease-in-out;
      display: flex;
      justify-content: center;
      align-items: center;
      &-link {
        padding: 8px;
        color: var(--lightest-slate);
        transition: 0.3s ease-in-out;
        outline: 2px dashed transparent;
        &:hover {
          color: var(--theme-color);
        }
        &:focus {
          outline-color: var(--theme-color);
          transform: translateY(-4px);
          color: var(--theme-color);
        }
      }
      &:hover {
        transform: translateY(-4px);
      }
      &:last-child {
        margin-bottom: 2rem;
      }
    }
    &::after {
      content: "";
      display: block;
      width: 2px;
      height: 150px;
      margin: 0px auto;
      background-color: var(--light-slate);
    }
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
  
}