.hero {
  margin: 9rem auto;
  max-width: 1000px;
  text-align: center;

  &-title {
    color: var(--theme-color);
    font-size: var(--tx2large);
    font-family: var(--fira-code);
    padding-bottom: 5px;
  }
  &-title-large {
    font-size: var(--tx3large);
    font-family: var(--raleway);
    color: var(--light-slate);
    letter-spacing: 0.07rem;
    text-align: center;
  }
  &-title-sub {
    padding-bottom: 5px;
    color: var(--lightest-slate);
  }
  &-text {
    color: var(--slate);
    font-size: var(--tlarge);
    letter-spacing: 0.07rem;
    line-height: 1.6rem;
    font-weight: 600;
    font-family: var(--raleway);
    padding-bottom: 10px;

  }
  &-button {
    margin-top: 2rem;
    .btn {
      padding: 1rem 2rem;
      font-size: var(--tsm1);
    }
  }

  @media screen and (max-width: 1020px) {
    margin: 14rem auto;
    max-width: 800px;
    text-align: center;
    .wrapper {
      display: none;
    }
  }

  @media screen and (max-width: 1024px) {
    max-width: 600px;

  }

  @media screen and (max-width: 600px) {
    margin: 4rem auto;
    max-width: 700px;
    &-text {
      margin: 20px 20px 20px 20px;
      max-width: 800px;
      text-align: center;
    }
  }
}